@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://imgs.search.brave.com/jBs9aiZjiHrXIM1U5hgWPue9rsPhiH0IJ0Flo4tuYtc/rs:fit:1024:662:1/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC9NWjhHY3g4/LmpwZw");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

.container {
    width: 600px;
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
    background: rgb(255, 184, 230);
    border-radius: 10px;
    padding: 35px 20px 35px 10px;
}

header {
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.content {
    margin: 40px 0px;
}

.quote {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Oleo Script Swash Caps', cursive;
}

.quote i:first-child {
    margin: 4px 12px 0 0;

}

.quote i:last-child {
    display: flex;
    align-items: flex-end;
    margin: 0 0 4px 12px;
}


button {
    font-family: 'Roboto', sans-serif;
    text-align: right;
    display: flex;
    border: none;
    outline: none;
    background: #383CC1;
    cursor: pointer;
    font-size: 1rem;
    padding: 15px 20px;
    border-radius: 35px;
    color: whitesmoke;
    float: right;
}

h5 {
    margin: 0;
    padding-top: 0.2rem;
    float: right;
    font-size: 1.4rem;
    font-family: 'Oleo Script Swash Caps';
}